.main-container {
  position: relative;
  height: 400px;
  width: 300px;
  background-color: #333333;
  border-radius: 10px;
}

.title {
  color: #fff;
  font-weight: bold;
  padding: 10px 0px;
  text-align: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #222222;
  border-color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  height: 80%;
  margin: 10px;
}

.chat-history-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #444444;
  margin: 5px;
  height: 100%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: scretch;
  margin: 5px;
}

.message-area {
  width: 70%;
  margin: 0px 5px 0px 0px;
  border-radius: 5px;
  padding: 1px 0px;
  resize: None;
}

.send-button {
  width: 30%;
  border-radius: 5px;
  padding: 5px 10px;
  transition-duration: 0.5s;
}

.send-button:hover {
  background-color: #ccc;
  duration: 500ms;
}

.chat-bubble-left-container {
  background-color: #e55;
  margin: 5px;
  border-radius: 20px 0px 0px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chat-bubble-right-container {
  background-color: #55e;
  margin: 5px;
  border-radius: 0px 20px 0px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chat-bubble-left-text {
  color: #fff;
  font-size: 14px;
  margin: 0px 20px;
}

.chat-bubble-right-text {
  color: #fff;
  font-size: 14px;
  margin: 0px 20px;
}